{
    "dev": {
        "app_function": "punytrack.wsgi.app",
        "aws_region": "us-east-1",
        "profile_name": "default",
        "project_name": "punytrack",
        "runtime": "python3.6",
        "s3_bucket": "punytrack-zappa-dev",
        "keep_warm": false
    },
    "production": {
        "app_function": "punytrack.wsgi.app",
        "aws_region": "us-east-1",
        "profile_name": "default",
        "project_name": "punytrack",
        "runtime": "python3.6",
        "s3_bucket": "punytrack-zappa-your-bucket-here",
        "certificate_arn": "arn:aws:acm:us-east-1:XXXXXXXXXXXX:certificate/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
        "domain": "xxx.xxxxxxxxxxx.xx",
        "keep_warm": false,
        "events": [{
           "function": "punytrack.functions.daily_rollup",
           "expression": "cron(1 0 * * ? *)"
        }, {
            "function": "punytrack.functions.daily_prerollup",
            "expression": "cron(0 12 * * ? *)"
        }],
        "extra_permissions": [{
            "Effect": "Allow",
            "Action": ["athena:*"],
            "Resource": "*"
        }, {
            "Effect": "Allow",
            "Action": ["glue:*"],
            "Resource": "*"
        }],
        "binary_support": false
    }
}
