<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Punytrack</title>
  <meta name="description" content="">
  <meta name="author" content="Jonathan LaCour - https://cleverdevil.io">
  
  <style type="text/css">
    body {
      background: #333;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }

    header, main {
      text-align: left;
      background: #fff;
      margin: 1em auto;
      padding: 0.5em 2em;
      width: 40em;
    }

    pre {
      background: #ddd;
      padding: 0.5em 1.0em;
    }
  </style>
</head>

<body>
  <header>
    <h1>Punytrack</h1>
    <p>
      Content.
    </p>
  </header>

  <main>
    
    <section>
      <h2>Title</h2>
      <p>
        Content.
      </p>
    </section>

  </main>

</body>
</html>
